# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea/
target

# Eclipse Core
.project
.springBeans
.tern-project
.settings
# JDT-specific (Eclipse Java Development Tools)
.classpath
.ipr
.iws
/micro-servicio-reporte-entidad/target
/micro-servicio-reporte-persistencia/target
/micro-servicio-reporte-util/target
/target
/target
/isspol.iws
/isspol.ipr
/isspol.iml
/.ideaDataSources/
/.idea/
